<header class="header">

  <div class="header_content">
    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>
    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">🇧🇷 {{ site.user.job-pt }}</span>
    <span class="header_job">🇬🇧 {{ site.user.job }}</span>
    <div class="social_network">
      <a class="social_network" href="https://www.linkedin.com/in/valeriabarros/" target="blank"><i class="fab fa-linkedin"></i></a>
      <a class="social_network" href="https://twitter.com/valeriaberros" target="blank"><i class="fab fa-twitter"></i></a>
      <a class="social_network" href="mailto:hi@barrosval.me" target="blank"><i class="fas fa-envelope"></i></a>

    </div>
    <nav class="nav">
      {% if site.user.aboutme %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/me.html">about</a>
        </li>
      </ul>
      {% endif %}
      {% for category in site.categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">{{ cat_name }}
            ({{ category | last | size }})</a>
        </li>
      </ul>
      {% endfor %}
    </nav>
  </div>

</header>
